html{
	margin-right: .3em;
	font-size: 16px;
	font-family: sans-serif;
	text-transform: capitalize;
}
body{
	background-image: url(../css/img/tapiz.png);
	position: relative;
	font-size: 12px;
	background-color: #f5f5f5;
	background-repeat: center;
}
body .navbar{
	margin-top: 1em;
}
body > .navbar .brand {
  padding-right: 0;
  padding-left: 0;
  margin-left: 5px;
  float: right;
  font-weight: bold;
  color: #000;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
}
body > .navbar .brand:hover {
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
}
figure{
	float: right;
	border: 2px solid gray;
	margin: 0 .3em 1em 1em;
	padding: 0;
	border-radius: 800px;
	overflow: hidden;
}
h2{
	font-weight: bold;
	font-style: italic;
	color: black;
	font-size: 16px;
	font-family: sans-serif; 
	margin-left: 1em;
}
header{
	width:90%;
	max-width:1000px;
	margin:auto;
}

table{
	margin: 0 auto;
	background-color: #D3D3D3;
}
input{
	text-transform: capitalize;
}
#pass{
	text-transform: none;
}
#usuario {
	text-transform: none;
}
#correo{
	text-transform: none;
}
#rfc {
	text-transform: uppercase;
}
.ui-icon-red {
	width: 16px;
	height: 16px;
	background-image: url(../jqueryui/images/ui-icons_ff0000_256x240.png)/*{iconsContent}*/;
}
.ui-icon-blue {
	width: 16px;
	height: 16px;
	background-image: url(../jqueryui/images/ui-icons_blue.png)/*{iconsContent}*/;
}
.bs-docs-example-submenus .dropup > .dropdown-menu,
.bs-docs-example-submenus .dropdown > .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 5px;
  *width: 180px;
}
.bs-docs-example-submenus .dropup > .dropdown-menu,
.bs-docs-example-submenus .dropdown > .dropdown-menu
{
	margin-bottom: 10px;
    float: none;
    max-width: 180px;
}
.container {
  position: relative;
  z-index: 2;
  max-width: auto;
}
#img_login {
	position: relative;
	float: left;
	border: 2px solid gray;
	margin: 0 .6em 1em 1em;
	padding: 0;
	border-radius: 800px;
	overflow: hidden;
}
.input-text{
	font-family: sans-serif arial;
	font-size: 12px;
	margin-bottom: .4em;
}
.btn{
	cursor: pointer;
	text-align: center;
	margin-bottom: .6em;
}
a.hiddenanchor{
	display: none;
}
#wrapper{
	width: 60%;
	right: 0px;
	min-height: 560px;	
	margin: 0px auto;	
	width: 500px;
	position: relative;	
}

#login{
	position: absolute;
	top: 0px;
	width: 88%;	
	padding: 18px 6% 60px 6%;
	margin: 0 0 35px 0;
	background: rgb(247, 247, 247);
	border: 1px solid rgba(147, 184, 189,0.8);
	-webkit-box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	   -moz-box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	        box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	-webkit-box-shadow: 5px;
	-moz-border-radius: 5px;
		 border-radius: 5px;
}

p{
	margin: .5em 0;
	color: red;
}
span {
	float: left;
	margin-right: .3em;
}

